.body{
  margin: 0;
  padding: 0;
}
.grid{
 display: flex;
 flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
  align-content: space-around;
  padding: 0;
  gap: 5px;
  
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

.container{
  /* width: 90%; */
  padding:0 20%;
}